In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

1) Realizar a importação do dataset

In [9]:
df = pd.read_csv("../dados/dados.csv")
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

2) Realizar a conversão do tipo string para o tipo datetime das colunas de DATA INICIAL E DATANA FINAL

In [10]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 16.6+ MB

3) Criar uma nova coluna ANO-MES, que seja Capaz de retornar YYYY-MM tendo como referência DATA FINAL

In [12]:
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: '{}'.format(x.year)) + df["DATA FINAL"].apply(lambda x: '-{:02d}'.format(x.month))

In [13]:
df["ANO-MES"]

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MES, Length: 120823, dtype: object

In [15]:
df_filtrer =  df['PRODUTO'] =='GASOLINA COMUM'
df2 = df[df_filtrer]

df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [16]:
df2[df2['ANO-MES'] == '2008-08']["PREÇO MÉDIO REVENDA"].mean()

2.601244444444444

df2[(df2['ANO-MES'] == '2014-08') & (df2[''Estado== "SAO PAULO"])]["PREÇO MÉDIO REVENDA"].mean()

In [17]:
df2[(df2['ANO-MES'] == '2014-08') & (df2["ESTADO"])]["PREÇO MÉDIO REVENDA"].mean()

3.017555555555558

In [18]:
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [19]:
df2[df2["PREÇO MÉDIO REVENDA"] > 6][["ESTADO","ANO-MES","PREÇO MÁXIMO REVENDA"]]

                ESTADO  ANO-MES  PREÇO MÁXIMO REVENDA
119449            ACRE  2021-03                 6.700
119629            ACRE  2021-03                 6.700
119647  RIO DE JANEIRO  2021-03                 6.699
119807            ACRE  2021-03                 6.700
119825  RIO DE JANEIRO  2021-03                 6.665
119985            ACRE  2021-04                 6.600
120003  RIO DE JANEIRO  2021-04                 6.559
120163            ACRE  2021-04                 6.600
120181  RIO DE JANEIRO  2021-04                 6.499
120342            ACRE  2021-04                 6.600
120360  RIO DE JANEIRO  2021-04                 6.516
120520            ACRE  2021-04                 6.600
120538  RIO DE JANEIRO  2021-04                 6.599
120699            ACRE  2021-05                 6.890
120717  RIO DE JANEIRO  2021-05                 6.599

In [ ]:
#names = df2[df2["ESTADO"] == "RIO DE JANEIRO"]
plot1 = df2[(df2["ESTADO"] == "RIO DE JANEIRO" ) & (df2["ANO-MES"]) =='2021'][["PREÇO MÉDIO REVENDA"]]

TypeError: unsupported operand type(s) for &: 'str' and 'list'

In [20]:
df3 = df2[df2["DATA FINAL"].apply(lambda x: x.year) == 2014]

In [21]:
df3[df3["REGIÃO"]== "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.9567692307692304

In [22]:
df2["MES"] = df2["DATA FINAL"].apply(lambda x: x.month)
df_rio = df2[df2["ESTADO"] == "RIO DE JANEIRO"]

/home/patrick/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df_month_rio = df_rio.groupby("ANO-MES")[["PREÇO MÉDIO REVENDA", "MES"]].last()

In [24]:
((df_month_rio[df_month_rio["MES"]==12] / df_month_rio[df_month_rio["MES"]==12].shift(1) -1 ) * 100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-12                  NaN  NaN
2005-12                  NaN  NaN
2006-12                  NaN  NaN
2007-12            10.506106  0.0
2008-12             2.256908  0.0
2009-12             2.977270  0.0
2010-12             4.654667  0.0
2011-12            10.775678  0.0
2012-12            10.121052  0.0
2013-12            14.865958  0.0
2014-12            12.122674  0.0
2015-12            31.601507  0.0
2016-12            28.448678  0.0
2017-12            37.729878  0.0
2018-12            23.072992  0.0
2019-12            23.250920  0.0
2020-12             8.286421  0.0

11) Série Temporal com a diferença com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados com maiores e menores preços

In [25]:
df_max =df2.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"]
df_min =df2.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"]

idx_max =df2.groupby("ANO-MES")["PREÇO MÉDIO REVENDA"].idxmax()
idx_min =df2.groupby("ANO-MES")["PREÇO MÉDIO REVENDA"].idxmin()

In [26]:
df2.groupby("ANO-MES")["PREÇO MÉDIO REVENDA"].idxmax()

ANO-MES
2004-05     12104
2004-06     12228
2004-07     12374
2004-08     12471
2004-09     12590
            ...
2021-01    118208
2021-02    119092
2021-03    119629
2021-04    120163
2021-05    120699
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [27]:
df_diff = pd.DataFrame()

In [28]:
df_diff["Diferença Absoluta"] = df_max - df_min
df_diff["Diferença de %"] = (df_max - df_min) / df_min * 100
df_diff["Max"] = df_max
df_diff["Min"] = df_min

In [29]:
df_diff

         Diferença Absoluta  Diferença de %    Max    Min
ANO-MES
2004-05               0.550       29.131356  2.438  1.888
2004-06               0.584       30.543933  2.496  1.912
2004-07               0.609       31.456612  2.545  1.936
2004-08               0.530       26.108374  2.560  2.030
2004-09               0.539       26.538651  2.570  2.031
...                     ...             ...    ...    ...
2021-01               1.383       36.109661  5.213  3.830
2021-02               1.688       40.960932  5.809  4.121
2021-03               2.109       46.058091  6.688  4.579
2021-04               1.450       30.353779  6.227  4.777
2021-05               1.391       28.580234  6.258  4.867

[204 rows x 4 columns]

In [30]:
df2.loc[idx_max][["ESTADO", "PREÇO MÉDIO REVENDA","ANO-MES"]]

             ESTADO  PREÇO MÉDIO REVENDA  ANO-MES
12104          ACRE                2.438  2004-05
12228   MATO GROSSO                2.496  2004-06
12374          ACRE                2.545  2004-07
12471   MATO GROSSO                2.560  2004-08
12590          ACRE                2.570  2004-09
...             ...                  ...      ...
118208         ACRE                5.213  2021-01
119092         ACRE                5.809  2021-02
119629         ACRE                6.688  2021-03
120163         ACRE                6.227  2021-04
120699         ACRE                6.258  2021-05

[204 rows x 3 columns]